<! DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/exit.jpg">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>contact on number  {{number}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>